@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

// body {
// 	font-family: 'Figtree', sans-serif;
// }


header {
	display: flex;
	justify-content: space-between;
}

body {
	background-color: red;
}
