@import '../utils/typo';
@import '../utils/color';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: black;
	* {
		color: white;
	}
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

button {
	all: unset;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	padding: 8px 10px;
	border: 1px solid white;
	&:focus {
		outline: none;
	}
}

.container {
	max-width: 1280px;
	margin-inline: auto;
}

.form-control {
	label {
		color: #000;
	}
	input {
		padding: 10px 16px;
		color: #000;
		background-color: #fff;
		border: 1px solid rgba($color: #000000, $alpha: 0.1);
		border-radius: 8px;
		&::placeholder {
			color: #000;
		}
	}
}

.pill-button {
	background-color: #000;
	color: #fff;
	padding: 16px 24px;
	border-radius: 64px;
	height: min-content;
}
