@import '../utils/typo';
@import '../utils/color';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: black;
	* {
		color: white;
	}
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

button {
	all: unset;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	padding: 8px 10px;
	border: 1px solid white;
	&:focus {
		outline: none;
	}
}

.container {
	max-width: 1280px;
	margin-inline: auto;
}
