@import '../utils/typo';
@import '../utils/color';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: black;
	* {
		color: white;
	}
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

button {
	all: unset;
	cursor: pointer;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	border-radius: 6px;
	padding: 8px 10px;
	border: 1px solid white;
	outline: 1px solid gray;
	background-color: #fff;
	color: #000;
	&:focus {
		outline: 1px solid $light-black;
	}
	&::placeholder {
		color: gray;
	}
	&[type='submit'] {
		background-color: $light-black;
		color: #fff;
		cursor: pointer;
		&:hover {
			background-color: #000;
		}
	}
}

select,
option {
	color: #000;
	padding: 10px 5px;
}

.container {
	max-width: 1280px;
	margin-inline: auto;
}

.form-control {
	label {
		color: #000;
	}
	input {
		padding: 10px 16px;
		color: #000;
		background-color: #fff;
		border: 1px solid rgba($color: #000000, $alpha: 0.1);
		border-radius: 8px;
		&::placeholder {
			color: #000;
		}
	}
}

.btn{
	padding: 7px 10px;
	border-radius: 5px;
}

.black-btn,
.white-btn {
	padding: 16px 40px;
	border-radius: 64px;
	height: min-content;
}

.black-btn {
	background-color: #000;
	color: #fff;
}

.white-btn {
	background-color: #fff;
	color: #000;
}

.btn-warning{
	background-color: rgb(175, 175, 76);
	color: #fff;
}

.btn-danger{
	background-color: red;
	color: #fff;
}